
@{
    
    Layout = "~/Views/Shared/_webLayout.cshtml";
}

<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="about_taital">About Our electricity Company</h1>
            </div>
        </div>
    </div>
</div>
<div class="about_section_2 layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about_taital_main">
                    <h1 class="slightly_text">Slightly believable. If you are going</h1>
                    <p class="lorem_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                    <div class="readmore_btn"><a href="#">Read More</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_img"><img src="/template/images/about-img.png"></div>
            </div>
        </div>
    </div>
</div>
<!-- about section end -->

