@{

    Layout = "~/Views/Shared/_webLayout.cshtml";
}
<!-- banner section start -->
<div class="banner_section">
    <div class="container">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="banner_taital">Electricity Service </h1>
                                <p class="banner_text">Anything embarrassing hidden in the middle of text. All the Lorem Ipsuanything embarrassing h</p>
                                <div class="read_bt"><a href="#">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="banner_taital">Electricity Service </h1>
                                <p class="banner_text">Anything embarrassing hidden in the middle of text. All the Lorem Ipsuanything embarrassing h</p>
                                <div class="read_bt"><a href="#">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="banner_taital">Electricity Service </h1>
                                <p class="banner_text">Anything embarrassing hidden in the middle of text. All the Lorem Ipsuanything embarrassing h</p>
                                <div class="read_bt"><a href="#">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- banner section end -->

